html, body
{
	height: 100%;
}

body
{
	display: flex
	margin: 0px;
	padding: 0px;
	background: #FFF999;
	font-family: 'Varela', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	color: black;
	text-align: center;
}

div {
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-weight: 700;
	color: #444444;
}

p, ol, ul
{
	margin-top: 0;
}

ol, ul
{
	padding: 0;
	list-style: none;
}

#nav {
	position: fixed;
	top: 6px;
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	z-index: 2 }
#nav li {
	float: left; }
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; }
#nav li a:hover {
	color: #c00;
	background-color: #fff; }

#title {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	color: #ACA957;
}

.title {
	/*stitching*/
	outline: 1px dashed #98abb9;
	outline-offset: -5px;

	background-color: #556068;
	height: 80px;
	width: 150px;
	margin-bottom: 20px;
	margin-top: 60px;
	/*shadow*/
	-webkit-box-shadow: 2px 2px 2px #000;
	-moz-box-shadow: 2px 2px 2px #000;
	box-shadow: 2px 2px 2px #000;
}

#search {
	text-align: center;
}

#resultsTitle {
	font-family: 'Varela', sans-serif;
	font-weight: bold;
	font-size: 12pt;
	text-decoration: underline;
	margin-bottom: 10px;
}


.results, .container {
	margin-top: 20px;
	text-align: center;
	background: #FFFFFF;
	border-style: inset;
  padding: 1px;
  border-style: inset;
  border-width: 4px;
  width: 800px;
	height: 600px;
}

.restaurantEntry {
	height: 280px;
	width: 100px;
	margin-left: 80px;
	margin-right: 80px;
}

.flexRowWrap {
	display: flex;
	flex-flow: row wrap;
}

input {
	width: 300px;
}

button {
	margin-left: 20px;
}


table, caption, tr, thead, td {
	text-align: center;
}

.checks {
	width: 30px;
	height: 30px;
	margin-bottom: 15px;
}

#paragraph {
	width: 300px;
	font-family: 'Varela', sans-serif;
	font-weight: bold;
	font-size: 12pt;
	position: relative;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}


a
{
	color: #0000FF;
}

a:hover
{
	text-decoration: none;
}
